#pagina{
    background-image: linear-gradient(to right, rgb(253, 255, 255),white);
    height: 100%;
}

.y-card{
  display: flex;
  flex-direction: column;
}
.y-card-header{
  order: 1;
}
.y-card-body{
  flex-grow: 1;
  order: 2;
  overflow: auto;
}
.y-card-footer{
  order: 3;
}

