<div class="y-card" style="height: 100%; width: 100%;">
  <div class="y-card-header" style="height: 200px; padding: 10px;">

    <div class="y-card" style="height: 100%; border: 1px solid lightskyblue;border-radius: 10px; background: #f3f9ff;">

      <div class="y-card-header"
        style="padding: 5px;background: #d9e2ea;font-weight: 600; border-radius: 10px 10px 0px 0px;">
        Carga Hemofilia
      </div>

      <div class="y-card-body">
        <div class="row" style="width: 100%;">
          <div class="col-md-3">
            <img [src]="'assets/img/carga.svg'" class="ing-fluid" alt="no image" id="ima">
          </div>
          <div class="col-md-7">
            <button type="submit" class="btn btn-outline-primary" id="button" (click)="photoInput.click()"><i
                class="fas fa-search"></i> Seleccionar archivo</button>
            <input type="file" accept="application/zip" (change)="Seleccionarzip($event)" multiple="false"
              id="inputFileServer" class="d-none" #photoInput>
            <div class="col-md-2">
              <table class="fTextoTabla2">
                <tbody>
                  <tr>
                    <td>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="y-card-body" style="overflow: hidden; padding: 5px;">
    <p-table [value]="hemofilia" styleClass="p-datatable-sm " [scrollable]="true" scrollHeight="308px"
      tableStyleClass="prime-table">
      <ng-template pTemplate="header">
        <tr tableStyleClass="header">
          <th style="width:90px;background-color: #4e92ce; color: white;">Radicado <i class="fas fa-filter" style="cursor: pointer;"></i> </th>
          <th style="width:150px;background-color: #4e92ce; color: white;">Nombre archivo  <i class="fas fa-filter" style="cursor: pointer;"></i> </th>
          <th style="width:110px;background-color: #4e92ce; color: white;">Fecha cargue</th>
          <th style="width:100px;background-color: #4e92ce; color: white;">R.Procesados</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">R.Cargados</th>
          <th style="width:60px;background-color: #4e92ce; color: white;">%</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">E.CA</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">E.CE</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">E.CD</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">Estado</th>
          <th style="width:70px;background-color: #4e92ce; color: white;">Vigente  <i class="fas fa-filter" style="cursor: pointer;"></i></th>
          <th style="width:80px;background-color: #4e92ce; color: white;">Usuario</th>
          <th style="width:80px;background-color: #4e92ce; color: white;">Login</th>
          <th style="width:60px;background-color: #4e92ce; color: white;">Logs</th>
          <th style="width:90px;background-color: #4e92ce; color: white;">Archivo cargado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td style="width:90px">{{ data.NUMERO_RADICACION}}</td>
          <td style="width:150px">{{ data.NOMBRE_ARCHIVO}}</td>
          <td style="width:110px">{{ data.FECHA_CREACION | date:"mediumDate"}}</td>
          <td style="width:100px">{{ data.REGISTROS_PROCESADOS}}</td>
          <td style="width:80px">{{ data.REGISTROS_VALIDOS}}</td>
          <td style="width:60px">{{ data.Porcentaje}}%</td>
          <td style="width:80px">{{ data.ERRORES_CA}}</td>
          <td style="width:80px">{{ data.ERRORES_CE}}</td>
          <td style="width:80px">{{ data.ERRORES_CD}}</td>
          <td style="width:80px">{{ data.Estado}}</td>
          <td style="width:70px">{{ data.VIGENTE}}</td>
          <td style="width:80px">{{ data.TIPO_USUARIO}}</td>
          <td style="width:80px">{{data.Login}}</td>
          <td style="width:60px"><i id="btn" class="far fa-file-excel"
              (click)="descargarLogsExcel(data.NUMERO_RADICACION)"></i>
            <img [src]="'assets/img/txt.svg'" class="ing-fluid" alt="no image" id="ims"
              (click)="descargarLogsTxt(data.NUMERO_RADICACION)">
          </td>
          <td style="width:90px"> <img [src]="'assets/img/zip.svg'" class="ing-fluid" alt="no image" id="ims"
              (click)="descargarArchivoCargado(data.NUMERO_RADICACION)"> </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="y-card-footer" style="padding: 0px;">
    <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginador($event)"
      [rowsPerPageOptions]="[5,10,20,30,50]"></p-paginator>
  </div>

</div>