<div class="y-card" style="height: 100%; width: 100%;">
    <div class="y-card-header">
        <div class="row">
            <div class="col-md-12" id="">
                <button type="button" [routerLink]="['/Hemofilia-frm']" id="button" class="btn btn-secondary"><i
                        class="fas fa-file-alt"></i> Nuevo</button>
            </div>
        </div>
    </div>
    <div class="y-card-body" style="overflow: hidden; padding: 5px;">

        <p-table [value]="Hemofilia" styleClass="p-datatable-sm " [scrollable]="true" scrollHeight="261px"
            tableStyleClass="prime-table" selectionMode="single" dataKey="code" (onRowSelect)="onRowSelect($event)">
            <ng-template pTemplate="header">
                <tr tableStyleClass="header">
                    <th style="width:90px;background-color: #02adb5e0; color: white;">P. Nombre </th>
                    <th style="width:150px;background-color: #02adb5e0; color: white;">S. Nombre </th>
                    <th style="width:110px;background-color: #02adb5e0; color: white;">P. Apellido</th>
                    <th style="width:100px;background-color: #02adb5e0; color: white;">S. Apellido</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Tipo de documento<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="open(content)"></i></th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">No. documento<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="nombrearchiv(content2)"></i></th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Fecha de nacimiento</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Sexo</th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Validación registro<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="vigent(content3)"></i></th>
                    <th style="width:80px;background-color: #02adb5e0; color: white;">Validación soportes<i
                            class="fas fa-filter" style="cursor: pointer;" (click)="soportes(content4)"></i></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr [pSelectableRow]="data">
                    <td style="width:90px">{{data.CAMPO_1}}</td>
                    <td style="width:150px">{{data.CAMPO_2}}</td>
                    <td style="width:110px">{{data.CAMPO_3}}</td>
                    <td style="width:100px">{{data.CAMPO_4}}</td>
                    <td style="width:80px">{{data.CAMPO_5}}</td>
                    <td style="width:80px">{{data.CAMPO_6}}</td>
                    <td style="width:80px">{{data.CAMPO_7}}</td>
                    <td style="width:80px">{{data.CAMPO_8}}</td>
                    <td style="width:80px">{{data.VALIDACION_REGISTRO}}</td>
                    <td style="width:80px">{{data.VALIDACION_SOPORTE}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="y-card-footer" style="padding: 0px;">
        <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginador($event)"
            [rowsPerPageOptions]="[5,10,20,30,50]"></p-paginator>
    </div>
</div>



<ng-template #content let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="Tipodocumento" [(ngModel)]="Tipodocumento"
                        placeholder="Tipo documento">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"
            (click)="CargarRegistroshemofilia()" (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <input type="number" name="numerodocumeto" [(ngModel)]="numerodocumeto" id="tipo"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="Tipodocumento"
                        class="form-control" placeholder="Numero de documento">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"
            (click)="CargarRegistroshemofilia()" (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>


<ng-template #content3 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <select name="" id="" class="form-control" name="VALIDACION_REGISTRO"
                        [(ngModel)]="VALIDACION_REGISTRO">
                        <option value="S">Registro validado</option>
                        <option value="N">Sin validar</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"
            (click)="CargarRegistroshemofilia()" (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>

<ng-template #content4 let-c="close" let-d="dismiss" id="pagina">
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <select name="" id="" class="form-control" name="VALIDACION_SOPORTE"
                        [(ngModel)]="VALIDACION_SOPORTE">
                        <option value="1">Sin soportes</option>
                        <option value="2">Soportes incompletos</option>
                        <option value="3">Soportes completos</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"
            (click)="CargarRegistroshemofilia()" (click)="d('Cross click')" style="margin-right: 4px;"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="limpiarFiltros()" (click)="d('Cross click')"></button>
    </div>
</ng-template>