#table{
font-size: 10px;
}
.table-striped{
    font-size: 10px;
}
#pagina{
 background-image: linear-gradient(to right, rgb(253, 255, 255),white)

}
.table th{
    background-color: #337ab7;
    color: white;
}
#filtros{
    width: 900px;
}
